# fly.toml app configuration file generated for denik on 2024-06-24T23:03:37-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'denik'
primary_region = 'qro'

[build]

[experimental]
  cmd = "start_with_migrations.sh"
  entrypoint = "sh"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'

[env]
  DATABASE_URL="file:/db/sqlite.db"

[mounts]
  source = "data_volume"
  destination = "/db"

